[2015-03-23 18:27] ithamsteri opened #4 "Лишние скобки"
Вот если посмотреть на этот коммит https://github.com/rust-lang/rust/commit/f49fd40f208827798ccd91394e3a3986c8bc6886, то фигурные скобки не так важны. Думаю что можно их удалить во всех файлах.

[2015-03-23 19:45] kgv commented on #4
Согласен, судя по коммиту, фигурные скобки не обязательны для одиночных опций кода. Хотя это не критично. Думаю, буду удалять по мере удаления их из исходных документов.

[2015-03-23 19:57] ithamsteri commented on #4
Хотя попадались мне вот такие конструкции:
[code]

[2015-03-23 20:06] kgv commented on #4
Я же говорю: "для одиночных опций кода". Эти конструкции скорее всего обрабатываются парсером http://www.gitbook.io/, через который создается и хостится книга. Хотя я не разбирался в этом досконально пока.

[2015-03-24 18:07] kgv commented on #4
При переводе раздела про макросы сталкнулся и с такими флагами для кода в markdown:

[code]

Так что и не одиночные флаги (опции) не требуют фигурных скобок. Зачем эти фигурные скобки - хз, насколько мне известно - они не характерны для markdown.

[2015-03-24 18:08] kgv opened #7 "Заголовок верхнего уровня начинается с `%`"
Думаю стоит добавить вопрос о заголовке верхнего уровня, который начинается с `%`. У меня было подозрение, что эту нехарактерную для markdown разметку должен обрабатывать парсер [gitbook](https://github.com/GitbookIO/gitbook). Но, после сборки [книги](http://kgv.gitbooks.io/rust_book_ru/content/) в сервисе http://www.gitbook.io/, `%` так остался.

[2015-03-24 21:00] funkill commented on #7
По всей видимости, документацию собирают при помощи rustdoc: на страницах документации указан следующий генератор: `<meta name="generator" content="rustdoc">`. В главе ["Документация"](http://doc.rust-lang.org/nightly/book/documentation.html#other-documentation) сказано, что заголовок в markdown файлах, которые будут обрабатываться rustdoc'ом, должен начинаться с `%` и быть самой первой строчкой ф

[2015-03-24 21:09] kgv commented on #7
Посмотрел сейчас - все верно. Я почему-то был уверен, что для сборки gitbook используется, наверно с Rust by Example перепутал.
Спасибо, вопрос закрыт.

[2015-03-24 21:09] #7 closed, assigned to nobody

[2015-03-25 11:21] kgv commented on #4
ignore - это [специальная директива rustdoc](https://github.com/rust-lang/rust/blob/master/src/doc/trpl/documentation.md#running-documentation-tests).
Правда в [конвенции](https://github.com/rust-lang/rfcs/blob/master/text/0505-api-comment-conventions.md) не упоминается о фигурных скобках и случаях их использования.

[2015-03-27 21:09] funkill opened #9 "Буква `ё`"
Доброго времени суток.
В некоторых главах (hello-cargo, generics и static-and-dynamic-dispatch) заметил использование буквы `ё`, ранее не использовавшейся в тексте.
Отсюда вопрос: будет ли она использоваться во всём тексте (исправлять `е` на `ё`) или же только в тех случаях, когда использование `е` вместо `ё` может привести к разночтениям?
Сам я сторонник использования этой буквы везде.

[2015-03-28 04:16] ithamsteri commented on #9
Мне `ё` тоже нравится и я пытаюсь ее вставить где можно.

[2015-03-28 08:02] kgv commented on #9
Я не использовал букву `ё` (каюсь), но думаю будет лучше использовать `ё` везде, где этого требуют правила русского языка, а не только в ситуациях, где это может привести к разночтению.

[2015-03-28 08:04] funkill commented on #9
Замечательно! В процессе чтения/исправления буду заменять.

[2015-03-28 08:04] #9 closed, assigned to nobody

[2015-03-28 16:11] mkpankov opened #13 "Что стоит переводить, а что нет. Обсуждение."
Как насчёт перевода строк, используемых в коде примеров?

Пример:

[code]

можно было бы перевести как

[code]

По-моему это было бы более приятно русскоязычному читателю и подчеркнет работу с Юникодом из коробки без каких-либо проблем.

Как вы считаете?

[2015-03-28 16:19] ithamsteri commented on #13
Я согласен. :+1:
Так как читателю понятнее будет.

[2015-03-28 16:26] mkpankov commented on #13
Один тонкий момент: не стоит переводить имена вроде Graydon и Niko как Григорий и Николай --- это отсылка к создателям языка :)

[2015-03-28 19:05] mkpankov commented on #13
Ещё надо не увлекаться и не переводить сообщения об ошибках компилятора.

[2015-03-28 19:44] kgv commented on #13
:+1:

[2015-03-28 20:13] kgv commented on #13
Из этой же области вопрос: цитаты лучше переводить или оставлять на языке оригинала?
Причем я встречал цитаты двух типов:
- Декоративного характера.  [пример](https://github.com/kgv/rust_book_ru/blob/master/error-handling.md)
- Несут в себе некий смысл, на который опирается дальнейшее повествование. [пример](https://github.com/kgv/rust_book_ru/blob/master/concurrency.md#%D0%91%D0%B5%D0%B7%D0%BE%D0

[2015-03-28 20:16] mkpankov commented on #13
Я думаю, что декоративные цитаты можно заменять аналогичными по смыслу русскоязычными при их наличии. Мне кажется, в большинстве случаев таких цитат на русском не найдёшь :)

А "смысловые" наверное надо переводить близко к тексту.

[2015-03-29 15:36] kgv commented on #13
Также хочу заметить что в док-комментариях к коду Rust могут присутствовать markdown заголовки, например:

В [разделе о документации](https://github.com/rust-lang/rust/blob/master/src/doc/trpl/documentation.md#special-sections) сказано, что они не являются частью синтаксиса, но являются соглашением.
Думаю их переводить не следует.

[2015-03-29 19:45] kgv opened #20 "Ширина строк"
Оригинальная ширина текста - 80. При чистовом форматировании предлагаю делать ширину такой же.
PS: На некоторых редакторах у меня нужно было задавать 81. Так что перед форматированием лучше параметры для своего редактора на оригинале, чтобы не было лишних переносов.

[2015-03-29 20:31] mkpankov commented on #20
Не понял в P.S. про "на оригинале".

[2015-03-29 21:12] kgv commented on #20
Я имел ввиду, что если для оригинального файла (не переведенного) при выставлении заданной ширины (80) переноса происходит нарушение целостности, то значит при форматировании следует указать 81. Я это написал только потому что столкнулся с таким в одном из редакторов.
@mkpankov у ваших отредактированных файлов было все ок с шириной. И они пока единственные отредактированные по ширине.

[2015-03-29 21:22] mkpankov commented on #20
А, да, согласен :+1:

[2015-03-29 21:36] mkpankov opened #22 "На главной странице репозитория ссылки, которые никуда не ведут"
Если щелкнуть на "Основной уровень", например, попадаешь на 404.

Новичка может смутить.

Пока не имею предложений, как это исправить.

[2015-03-30 08:50] kgv commented on #4
Добавил [правила перевода](https://github.com/kgv/rust_book_ru/blob/master/RULES.md)

[2015-03-30 08:50] #4 closed, assigned to nobody

[2015-03-30 08:51] kgv commented on #20
Добавил [правила перевода](https://github.com/kgv/rust_book_ru/blob/master/RULES.md)

[2015-03-30 08:51] #20 closed, assigned to nobody

[2015-03-30 08:51] kgv commented on #13
Добавил [правила перевода](https://github.com/kgv/rust_book_ru/blob/master/RULES.md)

[2015-03-30 08:51] #13 closed, assigned to nobody

[2015-04-01 05:55] ithamsteri opened #26 "error-handling.md и std::io"
В `error-handling.md` в разделе "Преобразование неудачи в панику" не корректный код. Старый модуль `std::io` изменился и стал `std::old_io`. Теперь этот код не работает:

[code]

Теперь строки читаются так:

[code]

[2015-04-01 06:15] ithamsteri commented on #26
Можно адаптировать пример в книге так:

[code]

[2015-04-01 07:00] kgv commented on #26
Я создал пул реквест на измененние в офф документации https://github.com/rust-lang/rust/pull/23933.
Как только появятся изменения в офф документации - внесем их в перевод.

[2015-04-02 06:46] kgv commented on #26
Мердж был сделан, при следующем обновлениие до текущего состояния будут внесены изменения в перевод.

[2015-04-03 08:29] #26 closed, assigned to nobody

[2015-04-03 08:45] mkpankov opened #28 "Подчистить pointers.md"
Ссылка с подсчёток - счётчик ссылок
Rust определяет размер из типа выделяемых данных. -> по типу
Лучшие техники - лучшая практика
Огороженная возможность - огороженная функциональность / включаемая возможность / прагма / директива компилятора (?)

[2015-04-03 08:50] mkpankov commented on #28
//y and z are aliased -> //y и z совпадают

[2015-04-03 08:56] mkpankov commented on #28
[code]

в последних версиях стало

[code]

Такой код надо исправить в нескольких местах

[2015-04-03 17:43] kgv opened #29 "Todo closures.md"
- [ ] error-at-a-distance - ошибка на расстоянии/отложенная ошибка?
  https://github.com/kgv/rust_book_ru/blame/master/patch/closures.md.patch#L70
- [ ] `Fn` and friends - как более технически правильно это можно перевести?
  https://github.com/kgv/rust_book_ru/blame/master/patch/closures.md.patch#L560

[2015-04-04 15:17] kgv opened #30 "Todo unsafe.md"
- [ ] сформулировать пункт про арифметику указателей
  https://github.com/kgv/rust_book_ru/blob/master/patch/unsafe.md.patch#L200-L212

[2015-04-04 15:21] kgv opened #31 "Todo unstable.md"
- [x] изменился:
  https://github.com/kgv/rust_book_ru/blob/master/patch/unstable.md.patch#L1-L57

[2015-04-04 18:24] #28 closed, assigned to nobody

[2015-04-04 18:28] kgv commented on #31
https://github.com/kgv/rust_book_ru/commit/80b631a1f99139c54d3b9cfe2f7ec1262e45ea6a

[2015-04-04 18:28] #31 closed, assigned to nobody

[2015-04-05 19:51] kgv opened #34 "Todo if.md"
- [x] if`->`if`
  https://github.com/kgv/rust_book_ru/pull/33/files#diff-fb4de66872c8e3d29666fedc2315e187R11
- [x] выраажение -> выражение
  https://github.com/kgv/rust_book_ru/pull/33/files#diff-fb4de66872c8e3d29666fedc2315e187R27
- [x] ибтным -> битным
  https://github.com/kgv/rust_book_ru/pull/33/files#diff-fb4de66872c8e3d29666fedc2315e187R130
- [x] ~~единичный тип?~~ + правильным -> корректным

[2015-04-05 21:04] mkpankov opened #35 "Оригинал книги будет сильно изменён"
Вчера в беседе на IRC канале #rust steveklabnik (основной технический писатель) сказал, что он будет сильно реорганизовывать и редактировать книгу на следующей неделе (https://botbot.me/mozilla/rust/msg/35832655/).

Помимо этого, документация в принципе будет стабилизироваться/дополняться перед релизом 1.0.

В контексте этого, возможно стоит отложить большую работу по редактированию/окончанию пере

[2015-04-05 21:34] funkill commented on #34
Когда назвал "единичным типом", опирался на следующую статью: http://habrahabr.ru/post/207126/

[2015-04-05 22:06] mkpankov commented on #34
В Пирсе (Типы в языках программирования) применяют "тривиальное значение" в качестве перевода для "unit".

Кстати, не уверен, что хорошо переводить "signature" как "подпись".

[2015-04-06 08:21] kgv commented on #35
Спасибо. Не догадался узнать у Стива о планах на доки. Поддерживаю, думаю стоит подождать.

PS Зато теперь я хоть понял более-менее воспринимаемый аналог "feature gate" - закрытые фичи/возможности (на данный момент закрытые)

[2015-04-06 08:28] kgv commented on #34
Да, [в вики](https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%B3%D0%B5%D0%B1%D1%80%D0%B0%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9_%D1%82%D0%B8%D0%BF_%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85) тоже используется "единичный элемент".

А "signature" я бы переводил как [сигнатура](https://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D0%B3%D0%BD%D0%B0%D1%82%D1%83%D1%80%D0%B0) по-моему уже достаточно устаканившийся терми

[2015-04-06 08:59] mkpankov commented on #34
@kgv согласен с обоими предложениями.

[2015-04-06 09:00] mkpankov commented on #35
@kgv да я тоже случайно узнал. Пошёл поспрашивать про аналоги "feature gate" в других языках, чтобы понять, как лучше перевести, а он увидел и предупредил :)

[2015-04-06 15:11] mkpankov commented on #35
Кстати, перечитал лог - он сказал не "на следующей неделе", а "следующие недели". Видимо речь шла о предрелизных 6 неделях (т.к. релиз Rust 1.0 final намечен на 15 мая).

[2015-04-09 07:55] kgv opened #37 "Правила"
## Правила разметки
- **Ширина текста** - 80.
## Правила перевода
- **Текст в примерах кода** - переводится. [^0]
- **Сообщения об ошибках компилятора** - не переводятся.
- **Специальные markdown заголовки в док-комментариях к коду Rust** (например `# Examples`) - не переводятся. [^1]
- **Цитаты**
  - **"Декоративные" цитаты** - заменять аналогичными по смыслу русскоязычными (при их наличии).
  -

[2015-04-09 08:09] kgv opened #38 "Ход выполнения перевода"
**Если вы беретесь за работу над каким-нибудь файлом, просьба отписаться здесь.**

**перевод идет** - работа над переводом ведется.
**перевод окончен в черновом варианте** - требуется редактирование семантики.
**перевод окончен в чистовом варианте** - требуется редактирование орфографии, грамматики и стилистики.
- [x] academic-research.md
  - [x] перевод идет.
  - [x] перевод окончен в черновом ва

[2015-04-09 08:10] #34 closed, assigned to nobody

[2015-04-09 08:10] #30 closed, assigned to nobody

[2015-04-09 08:34] kgv commented on #35
Стив начал [большие изменения в документации](https://github.com/rust-lang/rust/commit/0027253f188cb6986f4d1281a31bb01769178f7d). До конца недели понаблюдаю за тенденциями изменений и приступлю к переводу.

[2015-04-09 09:35] mkpankov commented on #37
Моё мнение:

Во всех случаях термины должны переводиться "один к одному", т.е. использоваться везде должно одно и то же русское слово, а не различные синонимы.
Aliasing в случае указателей хорошо переводится как "совпадение". Aliased pointer - "совпадающий указатель".
Borrowing - предлагаю "заимствование", потому что нет такой сильной ассоциации с деньгами.
Life time - "время жизни" меньше режет с

[2015-04-09 10:49] kgv commented on #37
@mkpankov я тоже придерживаюсь мнения, что стоит для одного и того же оригинального термина использовать единственный термин перевода :+1: . Однако такие вариации как "владение" и "право владения" (напримен в контексте "move ownership" - отдает право влажения) считаю приемлемыми.
borrowing -> заимствование, заем считаю подходят оба, ~~одолжить~~
match -> сопоставление с образцом можно ли также исп

[2015-04-11 19:01] kgv opened #39 "Todo ffi.md"
https://github.com/kgv/rust_book_ru/blob/master/patch/ffi.md.patch
- [ ] so specifying it correctly is part of keeping the binding correct at runtime.
- [ ] Native dynamic libraries and frameworks are propagated to the final artifact boundary, while static libraries are not propagated at all.
- [ ] "nullable pointer optimization"

[2015-04-11 19:02] kgv opened #40 "Todo macros.md"
- [ ] в конец добавлен `advanced-macros.md`

[2015-04-11 19:09] kgv opened #41 "Todo documentation.md"
- [x] Unrecoverable misuses
- [x] and can have more than one section:
- [x] Small examples often trigger these lints.
- [ ] Sometimes, this isn't enough, though. For example, all of these code samples with `///` we've been talking about

[2015-04-26 17:22] mkpankov commented on #38
- [ ] unsized-types.md
  - [x] перевод окончен в черновом варианте

[2015-04-26 17:36] mkpankov commented on #37
Думаю, там в контексте надо переводить.

[2015-04-26 18:08] mkpankov commented on #38
- [x] const-and-static.md
  - [x] перевод окончен в черновом варианте

[2015-04-26 23:12] mkpankov commented on #38
debug-and-display.md был удалён

[2015-04-26 23:58] mkpankov commented on #37
Новый термин: trait.

Википедия переводит его как ["типаж"](https://ru.wikipedia.org/wiki/%D2%E8%EF%E0%E6_%28%E0%E1%F1%F2%F0%E0%EA%F2%ED%FB%E9_%F2%E8%EF%29).

На Хабре в ряде статей также используется этот термин: http://habrahabr.ru/search/?q=trait&target_type=posts&order_by=relevance

В принципе он неплох и слух вроде не режет. Единственное, что меня смущает - его возможное столкновение с "типаж

[2015-04-27 00:03] mkpankov commented on #38
- [x] deref-coercions.md
  - [x] перевод идёт

[2015-04-27 13:19] suhr commented on #37
Вот ещё перевод rustbyexample.com: https://github.com/suhr/rust-by-example, можно посмотреть, какие термины там.

И да trait — типаж, slice — срез, ownership — владение, а borrowing — заимствование.
Правда crate всё-таки крэйт.

[2015-04-27 13:27] suhr commented on #37
Ёмкость же. Т.е сколько элементов вместится без необходимости выделить память.

Сопоставление с образцом, устоявшийся термин.

[2015-04-27 21:39] mkpankov commented on #38
- [x] deref-coercions.md
  - [x] перевод закончен в черновом варианте

[2015-04-27 21:56] mkpankov commented on #38
- [x] if-let.md
  - [x] перевод закончен в черновом варианте

[2015-04-27 22:05] mkpankov commented on #37
variable binding - предлагаю "имя" или "значение" в зависимости от контекста.
или лучше "связанное имя"

[2015-04-27 22:16] mkpankov commented on #38
- [x] mutability.md
  - [x] перевод начат

[2015-04-28 06:27] suhr commented on #37
tuple struct → кортежная структура

[2015-04-28 09:35] kgv commented on #37
Думаю kind тогда стоит переводить как тип, чтобы различать эти 2 понятия.

Просто в документации затем присутствуют термины `Box Syntax Patterns`, `Slice Patterns` и т.д. а переводить их как "образцы срезов" не камильфо.

Согласен, связанное имя или связанное значение в зависимости от контекста.

Тогда почему слайсы, туплы, трейты и паттерн-матчинг не оставить? Я склоняюсь все-таки к контейнеру. (

[2015-04-28 09:36] #35 closed, assigned to nobody

[2015-04-28 09:42] mkpankov commented on #37
Но "тип" - это type :) Википедия использует для kind ["род"](https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D0%B4_%28%D1%82%D0%B5%D0%BE%D1%80%D0%B8%D1%8F_%D1%82%D0%B8%D0%BF%D0%BE%D0%B2%29).

Предлагаю пока переводить основываясь на эти основные понятия, раз у них есть канонический перевод. Как переводить higher-kinded types подумаем потом :) (высокородные типы, ахаха!)

Но и как "шаблоны срезов" тоже.

[2015-04-28 15:01] suhr commented on #37
Потому, что контейнер это таки контейнер ([тыц](https://en.wikipedia.org/wiki/Container_%28abstract_data_type%29), [тыц](https://en.wikipedia.org/wiki/Container_%28type_theory%29), [тыц](https://en.wikipedia.org/wiki/Container_%28virtualization%29), [тыц](https://en.wikipedia.org/wiki/Digital_container_format), [тыц](https://en.wikipedia.org/wiki/Web_container)), когда же крэйт — единица сборки в

[2015-04-28 15:11] mkpankov commented on #37
Но если бы это было проблемой, другие люди тоже не называли бы новые непохожие сущности словом "контейнер".

Я не видел, чтобы первые два значения употреблялись в Rust. Для этих вещей они обычно используют "data structure", "struct", "enum", "sum type", "sequence" и подобное.

Вот, например, употребления "container" в оригинале TRPL:

[code]

Всё остальное вообще не относится к делу.

Crate как од

[2015-04-28 15:15] mkpankov commented on #37
К слову: мне кажется, для обсуждения перевода отдельных терминов, если он спорный, надо создавать отдельные задачи, иначе в комментариях к этой скоро будет не продраться.

[2015-04-28 15:30] suhr commented on #37
Вот поэтому разработчики Rust и назвали новую сущность как crate, а не как container.

Это же фича Cargo, а не самого Rust, разве нет?

[2015-04-28 15:37] mkpankov commented on #37
Я имел ввиду экосистему языка. Компилятор тоже оперирует этим понятием, раз это единица компиляции.

А вот этого мы не знаем.

[2015-05-03 17:51] kgv opened #61 "Todo for-loops.md"
- [ ] пример переведен частично.

[code]

[2015-05-06 20:39] funkill commented on #38
- [x] guessing-game.md
  - [x] перевод начат

[2015-05-07 10:46] mkpankov commented on #37
Как всё-таки переводим unit?

Варианты: пустой кортеж, единичное значение, тривиальное значение.

[2015-05-07 11:14] suhr commented on #37
Ну, unit type повсеместно зовётся «единичным типом», так что естественно называть unit «единичным значением» или «значением единичного типа».

[2015-05-07 12:33] mkpankov opened #65 "Todo guessing-game.md"
корректна, исправьте

наконец

чем мы начнём

этот участок по частям.

в нашу программу

что хотим это

единичное значение.

[2015-05-07 12:35] mkpankov commented on #37
Вообще в описании [кортежа](https://ru.wikipedia.org/wiki/%D0%9A%D0%BE%D1%80%D1%82%D0%B5%D0%B6_%28%D0%B8%D0%BD%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0%29) говорится, что если он с нулевым числом элементов, то это пустое множество. По сути то же самое, что и единичный тип, но более интуитивно.

[2015-05-07 17:19] suhr commented on #37
Это как кортеж определяется в математике. В программировании же нет множеств, но есть типы.
Единичный тип — это тип с единственным возможным значением. Пустой кортеж — лишь стандартный вариант подобного типа, но не единственный.
Кроме того, есть ещё и _пустой (низший) тип_. У пустого типа вообще нет допустимых значений, экземпляр пустого типа невозможно создать. Хотя этот тип не встречается в обыч

[2015-05-07 19:03] kgv commented on #37
Добавил unit type -> единичный тип
Если есть критика по поводу данного варианта перевода - думаю стоит создать отдельную issue.

[2015-05-08 12:36] mkpankov commented on #22
Этих ссылок больше нет, закрываю.

[2015-05-08 12:36] #22 closed, assigned to nobody

[2015-05-08 12:45] mkpankov opened #67 "Todo primitive-types.md"
Комментарии надо перевести

[2015-05-08 12:46] mkpankov opened #68 "Перевод unit type"
Согласно переводу unit type - 'единичный тип', unit - 'единичное значение'.
Получается странно в файле [guessing-game.md](https://github.com/kgv/rust_book_ru/commit/2ee6fa2af86cbe55c1bf07af126a4158f86b78fb#diff-0d12477373c921de81be610be3f4cc55R117):

Ссылка ведёт на кортежи[tuples]. Причём тут кортеж, если мы говорим о единичном значении?

Нужно либо вводить термин в разделе о кортежах и в глоссар

[2015-05-08 12:53] suhr commented on #68
А как оригинал сочетает «empty tuple» c «unit type»?

[2015-05-08 13:04] suhr commented on #68
Я имею в виду, что оригинал должен был пояснить связь между «empty tuple» и «unit type», потому что, вообще говоря, это разные вещи.

[2015-05-08 13:11] mkpankov commented on #68
Ну, может и так, но, как видите, он этого не делает, и называет `()` 'empty tuple'.

В конечном-то счёте ошибки в оригинале это тоже наши проблемы. Надо просто решить, что с этим делать.

[2015-05-08 13:14] suhr commented on #68
Нужно добавить сноску с пояснением, ну и в глоссарий термин ввести.

[2015-05-08 13:52] kgv commented on #68
Я думаю правильнее всего будет вынести этот вопрос на уровень оригинала, то есть задать вопрос в irc или в issue о том как правильно воспринимать "()" в рамках Rust - как «empty tuple» или как «unit type». В выходные сделаю это. Если кто-то сделает сделает это раньше, просьба отписаться тут.

[2015-05-08 14:21] mkpankov commented on #68
[Что говорят в IRC](https://botbot.me/mozilla/rust/msg/38649946/)

Я с ними согласен, ради этого одного случая вводить целое понятие смысла нет. В информатике кортеж длины ноль - это пустое множество. Пустое множество - это ничего. Никаких смысловых проблем с тем, что функция, возвращающая "ничего", возвращает "пустой кортеж", нет.

[2015-05-08 14:23] mkpankov commented on #68
Ну и вот, в довершение:
http://en.wikipedia.org/wiki/Tuple#Names_for_tuples_of_specific_lengths

[2015-05-08 22:41] suhr commented on #68
Here we go again.

Как и нет проблем с тем, чтобы называть unit type «единичным типом», следуя за оригиналом.

Да, и:

http://en.wikipedia.org/wiki/Unit_type

[2015-05-08 22:53] mkpankov commented on #68
В оригинале используют 'empty tuple'.

[2015-05-08 23:44] suhr commented on #68
Где empty tuple, там «пустой кортеж». Где unit type, там «единичный тип».

[2015-05-09 06:21] kgv commented on #37
Ввел новое правило пунктуации:

В связи с [обсуждением](https://github.com/kgv/rust_book_ru/pull/66/files)

[2015-05-16 09:19] kgv commented on #37
Новое правило для ссылок на API документацию Rust.

[2015-05-16 10:49] 4Lila opened #73 "очепятка в "Обработка предположения""
Давайте разберём этот участок ьит за битом.

и я б выразился не так: "Реализация игры угадайка"

[2015-05-16 10:55] 4Lila commented on #73
далее "Изначально Rust импортирует лишь некоторые вещи в нашу программ, в так   называемом вступлении."

некоторые вещи ? какие?
*программу
вступлении? заглавие, начале, инициализации?

[2015-05-16 15:47] Rastopyr commented on #38
- [x] unsave-code.md
  - [x] перевод идет(орфография, семантика)

[2015-05-16 15:53] ithamsteri commented on #38
- [ ] the-stack-and-the-heap.md
    - [x] перевод начат

[2015-05-16 21:52] mkpankov commented on #73
Спасибо за замечания!

Это уже переформулировали.

Не понял, к какому месту относится данный комментарий.

Подумаем, как переписать это место.

Мы не смогли придумать, как лучше перевести "prelude". Вы можете что-то предложить?

[2015-05-17 01:11] 4Lila commented on #73
Обработка предположения -> Реализация игры угадайка (какой вариант будет по русски?)

prelude - так лучше и оставить, все категориальные вещи лучше не трогать. (prelude) понятнее, чем любой перевод, тем более в доках по языку программирования. А перевод: прединициализация - тоже калька.

[2015-05-17 07:00] kgv commented on #37
Добавил:

[2015-05-17 12:29] funkill opened #78 "Перенесение правил в Wiki репозитория"
Предлагаю перенести правила в wiki репозитория и разделить всё, что сейчас там имеется на две статьи: непосредственно сами правила и словарь терминов.
За счёт этого не надо будет просматривать все коммертарии задачи #37 для получения полной картины о правилах. Для отдельных правил можно указывать ссылки на задачи, из текста которых можно получить представление о том, почему было создано данное пра

[2015-05-17 12:41] funkill opened #79 "Соответствие коммитам оригинальной книги"
Предлагаю создать файл/задачу/страницу на wiki где для каждого файла перевода будет указан коммит в оригинальной книге на момент последнего перевода файла.
Для чего это может быть полезно: при изменении файла в оригинальной книге, мы будем занать с какой версией надо сравнить изменения. На основании увиденных различий можно принимать решение, стоит ли вносить изменения (может быть там просто испра

[2015-05-17 13:33] kgv commented on #78
:+1:

[Правила](https://github.com/kgv/rust_book_ru/wiki/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0)
[Словарь терминов](https://github.com/kgv/rust_book_ru/wiki/%D0%A1%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D1%8C-%D1%82%D0%B5%D1%80%D0%BC%D0%B8%D0%BD%D0%BE%D0%B2)

[2015-05-17 17:06] mkpankov commented on #78
О, сам то же самое хотел предложить.

Наверное, закрываю.

[2015-05-17 17:06] #78 closed, assigned to nobody

[2015-05-17 17:09] mkpankov commented on #79
У меня появлялись мысли, что, возможно, надо сделать какой-то скрипт, который будет по информации из git всё это понимать.

Но я пока не продумал что же надо понимать и в каком случае это надо делать.

[2015-05-17 17:11] mkpankov commented on #37
Закрываю.

Для дальнейшего обсуждения существующих правил или новых предложений следует создавать новые задачи.

[2015-05-17 17:11] #37 closed, assigned to nobody

[2015-05-17 17:26] kgv commented on #79
Я согласен с идеей, но пока не знаю какой вариант тут подойдет... Добавлять еще один список - хз. Можно за правило взять в каждом коммите добавлять что-то типа `original commit xxxx`

Скрипт... хм...
Я не представляю как скриптом определить какой коммит был взят за основу перевода... если только процент соответствия исходных кодов. Но это не будет работать в 100% случаях, у нас ведь переводятся пр

[2015-05-17 17:49] mkpankov commented on #73
Если я правильно вас понял, вы предлагаете поменять "Обработка предположения" на "Реализация игры угадайка".

На это я вам отвечу: "Обработка предположения" - это более узко; это часть реализации игры "угадайка".

Не могу согласиться. Мотивы выходят сильно за рамки обсуждения в этом формате, но в общем мы не переводим только совсем устоявшиеся термины, вроде слова "стек".

Прецедент удачного перев

[2015-05-17 18:04] mkpankov commented on #79
Я пока в режиме мозгового штурма буду писать свои соображения, может вместе до чего-то додумаемся:

По смыслу, наш перевод - это ветка оригинальной книги. Это ветка, которая не будет вливаться обратно (по крайней мере, пока), но по смыслу привязка коммитов могла бы быть просто за счёт того, как git отслеживает изменения. Тут получается, что у нас проблема в том, что мы в другом репозитории живём и

[2015-05-17 18:14] mkpankov commented on #38
- [x] drop.md
  - [x] перевод начат

[2015-05-17 18:21] kgv commented on #79
Я уточнял это у стива (@steveklabnik), правда достаточно давно, он сказал, что планируется интеграция с другими языками, но после устаканивания самой документации. Времени прошло много с того момента и документация сильно модифицировалась, поэтому можно задать этот вопрос снова.

[2015-05-17 18:26] steveklabnik commented on #79
Thank goodness for google translate :)

I still have a lot of work to do, but it should be significantly easier than before. So, as long as you're okay with maybe a lot of work, it might be an okay time to start translating.

[2015-05-17 18:41] mkpankov commented on #79
@steveklabnik Thanks for the heads-up, Steve! :+1:

Actually, there's a question we'd like to discuss with you and this happens to be proper issue to do it :)

We were discussing the proper strategy of tracking changes to docs so that we could detect and re-translate parts of book if it changes. We didn't come up with anything good enough yet, but the question is, will we integrate the translation

[2015-05-17 19:58] kgv commented on #79
Я не силен в shell скриптах, но вот как вариант:

[code]

rust/master - это fetch оригинального репозитория, бранча master. В поддиректории hash/file_name.md.hash содержатся хеши последнего переведенного коммита из оригинала. Если он не совпадает с последним коммитом оригинала - требуется обновление.

[2015-05-18 05:42] kgv commented on #38
- [x] borrow-and-asref.md
  - [x] перевод идет.

[2015-05-18 08:55] mkpankov commented on #38
- [x] drop.md
  - [x] перевод закончен в черновом варианте

[2015-05-18 16:20] kgv commented on #79
@mkpankov, а вы ещё и на [корейском](https://github.com/rust-lang/rust/issues/25566#issuecomment-103087294) могёте? Или Стив просто перепутал? XD

[2015-05-18 16:25] steveklabnik commented on #79
@mkpankov I think ultimately, that's not quite clear. Something being in the official repo means that we're responsible for its quality and keeping it going, it makes it a pseudo-official project. And while I'm comfortable with that in the long term, I'm not sure we're ready _yet_.

[2015-05-18 22:06] mkpankov commented on #68
Обсуждение оригинала TRPL:

https://github.com/rust-lang/rust/issues/25244

[2015-05-19 07:02] #29 closed, assigned to mkpankov

[2015-05-19 07:12] #73 closed, assigned to nobody

[2015-05-19 11:41] ctrlok opened #88 "В гитхабе и в гитбуке по разному интерпретируются ```"
Привет, отличная работа.
Хочу обратить внимание, что в гитбуке http://kgv.gitbooks.io/rust_book_ru/content/testing.html под разделом "Тестирование в документации" криво отображен код, в то время как в github маркдауне все ок. Стоит ли исправлять? Спасибо.

[2015-05-19 12:20] mkpankov commented on #88
Спасибо!

Проверяю, в rustbook похоже этот раздел тоже сломан: http://kgv.github.io/rust_book_ru/documentation.html.

А как это можно исправить?

[2015-05-19 13:18] funkill commented on #88
rustdoc с аргументом `--markdown-playground-url` вставляет блок rusttest с текстом программы. На основном сайте эти блоки скрыты.
Можно взять стили с основного сайта.

[2015-05-19 13:33] funkill commented on #88
Вот только с gitbook'ом это проблемы не решит, ибо он сам компилирует html

[2015-05-19 13:57] mkpankov commented on #88
Надо попробовать на Travis накрутить компиляцию Rustbook тогда, чтобы вручную не обновлять.

[2015-05-21 08:42] ithamsteri commented on #38
- [x] type-aliases.md
  - [x] перевод идет.
  - [x] перевод окончен в черновом варианте.

[2015-05-21 17:27] mkpankov opened #92 "Много файлов в корне - долго мотать до README"
Предлагаю файлы переложить в подпапку а README оставить на верхнем уровне, чтобы информация для читателей была лучше видна.

[2015-05-21 18:37] Rastopyr commented on #92
:+1:

А gitbook не будет ругаться, или нужно ручками переписывать все ссылки?

[2015-05-21 18:38] Rastopyr commented on #38
- [x] unsave-code.md
  - [x] перевод закончен в черновом варианте(орфография, семантика)

[2015-05-21 18:55] funkill commented on #92
Про gitbook ничего не могу сказать. Для rustbook'а надо чтоб README.md и SUMMARY.md были в одной директории, а дальше он идёт по путям из SUMMARY, так что ссылки надо будет поменять.

[2015-05-21 22:33] kgv commented on #92
Не будет, вот у китайцев можно посмотреть: [здесь](https://github.com/linuxaged/rust_book_zh) и [здесь](https://github.com/KaiserY/rust-book-chinese). Но в SUMMARY нужно будет поменять ссылки, как написал @funkill.

Хотя я не вижу в этом такой уж необходимости... Но если  вы считаете, что так лучше - я не против.

[2015-05-22 09:04] #92 closed, assigned to nobody

[2015-05-22 09:21] mkpankov opened #95 "Reviewable.io"
В Gitter @suhr посоветовал:

Посмотрел - подключается вроде достаточно просто, выглядит неплохо. Ревью многих коммитов на GitHub неудобно тем, что нужно самому следить, поменял ли человек места с комментариями. Тут, я так понял, это проблема решена.

Попробуем?

[2015-05-22 09:26] funkill opened #96 "Хеш коммита в сгенерированной книге"
Думаю было бы не плохо где-то в сгенерированной книге указывать версию коммита с которого она генерировалась, но пока что нет идей в какое место это лучше подставить

[2015-05-22 09:45] mkpankov opened #97 "Travis не смог авторизоваться на github"
https://travis-ci.org/kgv/rust_book_ru/builds/63622182

[2015-05-22 14:05] kgv commented on #38
тест

[2015-05-22 15:12] mkpankov commented on #97
https://travis-ci.org/kgv/rust_book_ru/builds/63662289

@funkill Я не понимаю, в чём смысл этой строки. Почему не надо собирать Pull Request?

[2015-05-22 15:19] funkill commented on #97
Сама сборка происходи выше (`./additions/rustbook/rustbook build`) и происходит для всего.
Здесь говорится, что заливать в gh-pages только то, что было собрано из мастера

[2015-05-22 15:25] mkpankov commented on #97
@funkill ну получается, что если слили PR, то обновление отрисованной версии не произойдёт. Зачем так?

[2015-05-22 15:35] funkill commented on #97
Не, только если как-либо обновили master (в том числе и слили PR), обновление будет. Если сейчас travis запущен для PR или для ветки, отличной от master'a, только в этом случае обновления не будет.
Иначе может придти PR в котором оставлены только README.md и SUMMARY.md и результат сборки удачно отправится в gh-pages

[2015-05-22 15:37] mkpankov commented on #97
Тогда я не понимаю, почему до сих пор не обновился rustbook на GitHub Pages, если мы слили уже несколько PR.

[2015-05-22 15:39] funkill commented on #97
Потому что он всё ещё не может авторизоваться и залить изменения.
Через какое-то время ещё буду тестировать на своём репозитории да разбираться с чем может быть проблема

[2015-05-22 15:57] kgv commented on #38
тест

[2015-05-22 16:50] mkpankov commented on #97
А почему это не вызывает ошибки в скрипте и Travis рисует зелёную галку?

[2015-05-22 17:58] funkill commented on #97
Travis рисует зелёную галку потому что сама сборка прошла успешно. Для PR это значит, что поле принятия его в мастер, он ничего не поломает при сборке, а значит его можно сливать.
Деплой происходит в блоке команд `after_success` и там он уже похоже не смотрит коды завершения программ

[2015-05-22 19:43] mkpankov commented on #97
Нет, что-то не сходится, там нулевое время исполнения after_success - он скрипт даже не запускал, значит

[2015-05-22 20:11] funkill commented on #97
Если ты про двеннадцатую сборку (ссылка во втором комментарии, https://travis-ci.org/kgv/rust_book_ru/builds/63662289), то это PR и для него after_success не выполнялся. after_success выполнялся в 13 сборке (https://travis-ci.org/kgv/rust_book_ru/builds/63662679), когда PR был залит в мастер

[2015-05-22 20:20] mkpankov commented on #97
Понятно. Странно, что код возврата не проверяется, действительно.

[2015-05-22 22:51] funkill commented on #97
Вроде как заработало.
19 сборка - https://travis-ci.org/kgv/rust_book_ru/builds/63721509
В 19 сборке нечего коммитить, потому что все изменения был сделаны в 102 PR - https://travis-ci.org/kgv/rust_book_ru/builds/63720396 (чтоб не засорять мастер лишними коммитами, его не сливал с мастером и из-за этого деплой был сделан прямо из сборки PR).
В данный момент в .travis.yml установлен мой токен.
Выво

[2015-05-22 22:59] mkpankov commented on #97
@funkill круто! Наконец-то на Rustbook нормальные шрифты стали.

Закрываем?

[2015-05-22 23:02] mkpankov opened #105 "Поменять ссылки на версию для чтения на Rustbook"
Rustbook лучше поддерживает встроенный исходный код (не подвержен #88), и теперь он своевременно обновляется и там нормальные шрифты благодаря @funkill. Я думаю ссылку в описании репозитория надо поставить на этот вариант теперь.

[2015-05-22 23:07] mkpankov commented on #88
А Rustbook можно собирать в PDF? Может как-то pandoc прикрутить получится? Чтобы избавиться от gitbook, который не всё понимает правильно.

[2015-05-23 07:03] kgv commented on #105
:+1:

[2015-05-23 07:09] #105 closed, assigned to kgv

[2015-05-23 07:16] kgv commented on #95
@mkpankov попробуем. подключил

[2015-05-23 18:18] #95 closed, assigned to nobody

[2015-05-23 18:18] #97 closed, assigned to nobody

[2015-05-23 18:41] mkpankov commented on #38
- [ ] macros.md
  - [x] перевод идёт

[2015-05-24 07:58] kgv commented on #38
- [ ] rust-inside-other-languages.md
  - [x] перевод идёт

[2015-05-24 16:48] kgv opened #109 "Добавлены ссылки на локализованные версии TRPL"
[Ссылка на PR](https://github.com/rust-lang/rust/pull/25751)

[2015-05-25 11:01] mkpankov opened #110 "Разнесение по папкам сломало относительные ссылки"
[Здесь](http://kgv.github.io/rust_book_ru/syntax-and-semantics/macros.html#%D0%A2%D1%80%D0%B5%D0%B1%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F-%D1%81%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81%D0%B0) если нажать на [синтаксическое дерево](http://kgv.github.io/rust_book_ru/syntax-and-semantics/glossary.html#abstract-syntax-tree), ссылка ведёт никуда.

Это потому, что файл macros.md лежит в папке synt

[2015-05-25 16:21] ekondratev opened #111 "Опечатки."
3.1 Угадайка

Rust пытается сказать нам, что мне не обрабатываем ошибки, которые могут возникнуть.

[2015-05-26 09:48] mkpankov opened #112 "Добавить предупреждение о сломанной разметке"
На gitbook и в форматах, производимых им (PDF, Mobi, ebook) неправильно отрисовывается встроенный Markdown. При этом в целом там всё нормально. Поэтому пока мы сами не начнём собирать PDF и всё остальное, лучше вариант с парой сломанных разделов, чем никакого. Всё-таки, с читалки или с айпада в метро удобнее читать книгу в таком формате.

Надо добавить предупреждение, чтобы читатели знали, где най

[2015-05-26 10:51] #39 closed, assigned to mkpankov

[2015-05-26 12:57] mkpankov commented on #109
Думаю, делать мы с этим ничего не будем, поэтому закрою :)

[2015-05-26 12:57] #109 closed, assigned to nobody

[2015-05-27 23:15] #111 closed, assigned to nobody

[2015-05-28 08:44] ithamsteri commented on #38
- [x] **dining-philosophers.md**
  - [x] перевод окончен в черновом варианте.
  - [x] перевод окончен в чистовом варианте.

[2015-05-28 14:38] jiumx60rus opened #116 "Что переводить"
Может создать список файлов необходимых для перевода...чтоб легче было знать что надо

[2015-05-28 14:41] jiumx60rus commented on #116
Нашёл

[2015-05-28 14:41] #116 closed, assigned to nobody

[2015-05-31 08:42] #112 closed, assigned to nobody

[2015-05-31 08:47] #110 closed, assigned to nobody

[2015-05-31 08:58] mkpankov opened #119 "Ссылки с якорями сломаны, поскольку якоря переведены"
Например, [здесь](http://kgv.github.io/rust_book_ru/src/macros.html) - [синтаксическое дерево](http://kgv.github.io/rust_book_ru/src/glossary.html#abstract-syntax-tree). Там ссылка `http://kgv.github.io/rust_book_ru/src/glossary.html#abstract-syntax-tree`, якорь - `#abstract-syntax-tree`, а реально существующий якорь в `glossary.html` - `#%D0%90%D0%B1%D1%81%D1%82%D1%80%D0%B0%D0%BA%D1%82%D0%BD%D0%B

[2015-05-31 09:02] mkpankov opened #120 "Патчи не нужны"
Насколько я понимаю, содержимое директории `patch` - созданные в какой-то момент пачти относительно оригинала. Получается, что если оригинал был изменён с момента создания патча, он не наложится.

В целом, я так понимаю, они особо не нужны - мы можем просто скопировать файлы на место оригинальных файлов, и это будет правильно.

Предлагаю удалить.

[2015-05-31 09:06] mkpankov commented on #119
Как найти все сломанные места: `grep -Eirne '\.html#([[:alpha:]]|[-.])*\b'`

[2015-05-31 09:16] mkpankov commented on #119
Более точно: `grep src -Eirne '(\.|\.\.)/.?*\.html#([[:alpha:]]|[-.])*\b'`

[2015-05-31 13:06] funkill opened #126 "Pdf/Mobi/Epub версии книги"
Сконвертированные версии книги (книга не далеко не последней версии).
Все файлы сконвертированы при помощи colibre (используется gitbook'ом).
Хорошее оглавление сделать не получилось (у colibre ограничение в 50 глав, чтоб делать иерархию глав, надо добавлять соответствующие стили к заголовкам глав. Чтобы их добавить, надо изменять rustdoc).
Что лучше изменить в оформлении, что можно оставить?
Pdf

[2015-05-31 19:27] mkpankov commented on #126
:+1: постараюсь посмотреть в ближайшее время

[2015-05-31 20:46] jiumx60rus commented on #126
Глянул pdf
Выглядит очень годно
Багов с md и т.п. не нашёл
Только можно убрать жёлтый цвет выделения ссылок(внутри книги)
Up
Остальное криво отображается
Шрифт большой слишком и не подсветки + не нормального форматирования текста(весь код поехал)

[2015-05-31 20:49] jiumx60rus commented on #96
Можно на первой странице :)

[2015-05-31 21:05] funkill commented on #126
Скорее всего жёлтым цветом ссылки просмотрщик выделяет. У меня в qpdfviewer ссылки обведены в рамку, в mupdf - без какого-либо стороннего оформления (просто синеватый цвет шрифта и подчёркивание). В moonreader - к подчёркиванию и шрифту, как в mupdf, добавился такого же цвета полупрозрачный фон.

[2015-05-31 21:14] jiumx60rus commented on #126
А точно...просто в двух просмоторщиках у меня совпало выделение.

[2015-05-31 21:17] funkill commented on #96
Мне кажется, что можно сделать что-то вроде этого:
![trpl](https://cloud.githubusercontent.com/assets/4323287/7903912/3ab769a4-07f3-11e5-8392-520624b8e17a.png)

[2015-06-01 07:41] jiumx60rus commented on #96
А можешь объяснить как происходит генерация книги(не шарю в этом)

[2015-06-01 09:00] funkill commented on #96
Генерация происходит [rustbook'ом](https://github.com/steveklabnik/rustbook). Rustbook читает файлы README.md и SUMMARY.md.
README.md превращается в ведение (в нашем случае - некоторое предисловие к книге), SUMMARY.md - в оглавление.
Дальше rustbook формирует html-оглавление для книги, которое rustdoc вставляет перед содеримым каждой главы.
Rustdoc вызывается для кадого файла, указанного в SUMMARY

[2015-06-01 09:20] jiumx60rus commented on #96
Оу
А я gitbook'ом для node.js собрал и плагин для него написал уже, чтобы версия была

[2015-06-01 09:24] funkill commented on #96
Просто здесь немного модифицированный markdown. Rust позволяет использовать в комментариях markdown-разметку, из-за чего некоторые главы отображаются криво.
Раньше книга публиковалась на gitbook'е, но из-за разметки, было решено отказаться от него и выкладывать книгу на gh-pages

[2015-06-01 09:30] jiumx60rus commented on #96
Ясно
Спасибо будем смотреть rustbook :)
А для чего additions и patch?

[2015-06-01 10:44] mkpankov commented on #126
Несколько предложений:
- Сделать шрифт покрупнее
- Сделать полуторный междустрочный интервал
- Сделать выравнивание по ширине

В целом, вроде, хорошо всё

[2015-06-01 10:46] mkpankov commented on #126
Предлагаю ещё убрать подчёркивание заголовков

[2015-06-01 14:43] jiumx60rus commented on #126
Со шрифтом согласен

[2015-06-01 22:14] funkill commented on #126
Ссылки обновлены.
Шриф сделал 16px (был 12px), выравнивание по ширине добавил. Межстрочный интервал был примерно 1.49 (плюс отступы между абзацами). Отсупы убрал (чтоб везде был 1.5), сам интервал увеличил до 1.5.
Стоит ли делать красную строку к абзацам (сейчас, на мой взгляд, сложнее воспринимать текст)? Если стоит, то делать ли такой же отступ для блоков с кодом? Или сделать побольше отступ меж

[2015-06-02 07:13] kgv commented on #120
Патчи были добавлены для конвертации из измененного формата, используемого для русского языка в формат оригинала. Если я правлильно понял Стива, в rusbook будет добавлена фича многоязычности подобная [этой](https://github.com/GitbookIO/gitbook#user-content-multi-languages), и для того чтобы получить набор файлов с русским переводом, формат которых полностью совпадает с оригиналом, и были созданы п

[2015-06-02 10:10] mkpankov commented on #126
@funkill круто :+1:

Да, мне тоже красной строки не хватает. Для блоков с кодом я думаю, не надо. Между абзацами отступ давай немного увеличим.

Кстати, есть возможность запретить разбивать блоки с кодом при переносе? Например, на пятой странице осталась одна фигурная скобка от предыдущего блока.

[2015-06-02 12:05] funkill commented on #126
Добавил красную строку (40px). Отступ такой же ширины сделал для списков.
Между абзацами добавлен отступ в 10px.
Запрещена разбивка блоков с кодом.
Убраны ссылки на предыдущую/следующую главы в конце каждой главы.

[PDF](https://github.com/funkill/rust_book_ru/raw/c73362d580b558e167269072bc1f912de05a770f/index.pdf)
[EPUB](https://github.com/funkill/rust_book_ru/raw/c73362d580b558e167269072bc1f912d

[2015-06-02 12:08] mkpankov commented on #126
@funkill классно, мне нравится как сейчас PDF выглядит.

Добавишь в сборку на Travis?

[2015-06-02 12:12] funkill commented on #126
Оставить только pdf или остальные тоже?
И такой вопрос: куда сконвертированные файлы складывать? Для тестирования я пока что в ту же ветку складывал, в которой собирал книгу.

[2015-06-02 12:13] mkpankov commented on #126
Думаю, все.

Ты имеешь ввиду что клал в `gh-pages`? Если оттуда можно скачивать, то почему нет.

[2015-06-02 12:17] jiumx60rus commented on #126
Проверил все норм отображается.
Выглядит отлично(цвета, форматирование и т.п.)

[2015-06-02 13:34] #126 closed, assigned to nobody

[2015-06-02 16:00] #120 closed, assigned to nobody

[2015-06-02 16:15] #88 closed, assigned to nobody

[2015-06-02 16:19] mkpankov opened #132 "В web-версии rustbook сломано оглавление"
http://kgv.github.io/rust_book_ru/

Слева нажимаем на "Установка Rust", попадаем на http://kgv.github.io/src/installing-rust.html (404).

Правильный URL - http://kgv.github.io/rust_book_ru/src/installing-rust.html

[2015-06-02 17:18] funkill commented on #132
Похоже новый rustbook как-то коряво обработал ссылки и посчитал, что README.html лежит вместе с остальными.

[2015-06-02 17:56] mkpankov commented on #132
Да, я что-то такое тоже замечал - он как будто от текущей директории отталкивается.

[2015-06-02 20:35] funkill commented on #132
Предлагаю пока что откатить rustbook до предыдущей версии (eb96cc8)

[2015-06-02 22:33] mkpankov commented on #132
Согласен

[2015-06-02 23:17] mkpankov commented on #132
А зачем rustbook обновлять?

[2015-06-02 23:28] mkpankov commented on #132
Ок, сиюминутную проблему откат решил, но причина поломки не ясна. Как, впрочем, и цель обновления :)

[2015-06-02 23:28] #132 closed, assigned to nobody

[2015-06-03 09:32] #119 closed, assigned to mkpankov

[2015-06-06 20:51] kgv opened #141 "Ссылки на Rust документацию"
Я тут хотел подчистить все ссылки на документацию, которые на данный момент пока не изменены и имеют вид `../std/*.html`.
И подумал, почему бы в тревисе не изменять все ссылки перед конвертацией, навскидку `sed -i "s%\.\./\(std/.*\.html\)%http://doc.rust-lang.org/\1%g" src/*.md`. Это мне кажется удобнее будет.

[2015-06-07 15:15] mkpankov commented on #141
Я думаю, что Трэвису я бы всё-таки это не доверял - вдруг регулярка что-то неожиданное сопоставит.

Предлагаю самому sed прогнать просто и закоммитить.

[2015-06-07 21:03] #141 closed, assigned to nobody

[2015-06-08 12:54] mkpankov opened #147 "Перевод linking"
Linking, linker, link

Предлагаю так:
Компоновка, компоновщик, компоновать

Более конкретно, чем "связывание", по-моему получше отражает контекст, и в русских источниках я такое использование встречал.

[2015-06-08 13:09] kgv commented on #147
Да, тоже часто встречал такой перевод, к тому же "связывание" у нас используется для `let`
:+1:

[2015-06-10 09:48] #147 closed, assigned to nobody

[2015-06-10 10:33] #65 closed, assigned to mkpankov

[2015-06-10 23:08] #67 closed, assigned to nobody

[2015-06-11 18:29] #40 closed, assigned to mkpankov

[2015-06-11 19:05] mkpankov commented on #41
Не забыть залить свои небольшие изменения после того как решим #153

[2015-06-11 19:18] mkpankov commented on #38
- [ ] macros.md
  - [x] перевод окончен в черновом варианте
- [ ] compiler-plugins.md
  - [x] перевод начат

[2015-06-12 06:51] #61 closed, assigned to nobody

[2015-06-12 11:19] kgv commented on #38
- [ ] inline-assembly.md
  - [x] перевод начат

[2015-06-13 12:56] mkpankov commented on #38
- [ ] compiler-plugins.md
  - [x] перевод окончен в черновом варианте

[2015-06-13 12:57] mkpankov commented on #38
- [ ] lang-items.md
  - [x] перевод начат

[2015-06-13 13:29] mkpankov commented on #38
- [ ] lang-items.md
  - [x] перевод закончен в черновом варианте

[2015-06-13 13:30] mkpankov commented on #38
Если верить этой задаче, то за исключением конца `guessing-game.md`, у нас всё переведено

[2015-06-13 14:18] mkpankov opened #162 "Сборка сломана"
[code]

[2015-06-13 16:13] kgv commented on #162
Почему-то при загрузке архива с калибри иногда сервер отдает его не полностью, из-за чего архив оказывается битым. Это происходит нечасто. Перезапуск сборки тревиса решает проблему.

[2015-06-13 16:15] mkpankov commented on #162
Предлагаю сделать чтобы скрипт перезапускал загрузку сам в процессе, если сразу не удалось, и пробовал скачать раза 3, например

[2015-06-13 16:15] kgv commented on #162
Ок, сейчас сделаю тогда.

[2015-06-14 11:05] #162 closed, assigned to kgv

[2015-06-15 16:28] mkpankov commented on #38
Вычитываю `src/README.md`, `getting-started.md`, `installing-rust.md`, `hello-world.md`, `hello-cargo.md`.

[2015-06-15 22:05] mkpankov opened #176 "Перевод "Rustaceans""
Текущие варианты:
- растаманы
- растишки
- растониане
- растообразные

Текущее обсуждение (из чата и ревью):

[2015-06-15 23:39] kgv commented on #176
[Голосование](http://strawpoll.me/4644480)

[2015-06-15 23:58] mkpankov commented on #176
@kgv ну бросьте, какое голосование. Голосование, по-моему - это "нам лень думать, бросим кости общественного мнения".

[2015-06-16 05:32] kgv commented on #176
@mkpankov Перевод этого прозвища - чисто дело вкуса. Голосование - это статистика. По-моему - голосование - это то, как само Ру Rust комьюнити предпочитает себя называть.

[2015-06-16 05:57] kgv commented on #38
Вычитываю раздел "learn-rust.md", "dining-philosophers.md", "rust-inside-other-languages.md".
Угадайку оставил на случай, если у @funkill имеется уже завершенный вариант, и он успеет его выложить до окончания вычитывания.

[2015-06-16 13:47] mkpankov commented on #38
Вычитываю `effective-rust.md`, `the-stack-and-the-heap.md`

[2015-06-17 14:37] mkpankov opened #180 "Лицо автора"
В некоторых местах автор пишет про себя "я": "вот, про что я говорил", и т.д. Но не везде - также, часто встечается "мы".

При этом много где про какие-то описываемые вещи говорится "наш/наши": "наш стек", "наши структуры" и т.д.

В связи с этим, и поскольку у перевода по сути много авторов, предлагаю изменить лицо на "мы" и писать в немного формальном стиле научных статей: "мы пишем", "мы получае

[2015-06-17 15:51] kgv commented on #180
:+1:

[2015-06-17 15:58] #41 closed, assigned to mkpankov

[2015-06-17 16:00] mkpankov commented on #38
Вычитываю `testing.md`

[2015-06-17 16:03] kgv commented on #180
[Добавил в правила](https://github.com/kgv/rust_book_ru/wiki/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0#%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4%D0%B0)

[2015-06-17 16:29] mkpankov commented on #38
Вычитываю `conditional-compilation.md`

[2015-06-17 22:23] mkpankov commented on #38
Вычитываю `documentation.md`

[2015-06-18 12:44] mkpankov commented on #38
Вычитываю `iterators.md`

[2015-06-18 13:35] mkpankov commented on #38
Вычитываю `concurrency.md`

[2015-06-18 14:02] petrochenkov commented on #176
Всё плохо.
Мне кажется, стоит один раз объяснить игру слов, а потом использовать что-нибудь нейтральное вроде "программисты на Rust" или "пользователи Rust", тем более что встречается всего несколько раз. На русском даже для старых языков такие названия не приживаются кроме как в _очень_ неформальном контексте (плюсовики, пыхеры, ~~жаба-макаки~~), т.е. в книгах/документации такого не встретишь.

[2015-06-18 16:21] mkpankov commented on #176
@petrochenkov стоит отметить, что книга в оригинале и написана в неформальном стиле, и прозвище изначально подаётся как шуточное. Раз-другой упомянуть его и в переводе, по-моему, можно, если подходящий перевод найдётся.

Приведённые вами примеры родились сразу на русском - в сленговом английском нет названия "plusers". И "rustacean" образовано иначе, нежели какой-нибудь "haskeller".

[2015-06-18 22:20] mkpankov commented on #176
Много думал.

Пришёл к выводу, что по-настоящему пользоваться переводом этого прозвища в книге нельзя. Вот почему.

В оригинале Rustaceans - придуманное первоначальными авторами прозвище _для самих себя_. Пытаясь как-то его перевести, мы пытаемся формализовать и пропихнуть в русское сообщество _шутку_. Это глупо, не донесёт никакой шутливости, и вообще воспринимается как попытка дать людям прозвищ

[2015-06-18 22:34] mkpankov commented on #38
Вычитываю `error-handling.md`

[2015-06-18 23:18] suhr commented on #176
Здесь соглашусь. Это не художественная литература, где шутки необходимо переводить.

[2015-06-19 14:24] mkpankov opened #189 "Перевод "native""
Например, в нескольких местах есть "native libraries". "Родные библиотеки" звучит странно.

Есть что-то устоявшееся?

[2015-06-19 14:35] mkpankov opened #190 "Перевод "unsafe""
Нужно переводить не как "небезопасный", а как "опасный". Двойное отрицание затрудняет понимание, да и слово длиннее почти в два раза.

Применимо к "unsafe block", "unsafe function", "unsafe pointer", "unsafe operation" и т.д.

[2015-06-20 21:36] kgv commented on #190
Не согласен. Для меня два антонима опасный/безопасный звучат как равноценные. С другой стороны, небезопасный/безопасный звучат как неравноценные. То есть небезопасный - это нерегулярная, исключительная, нечасто случающаяся ситуация (как и должно быть). Поэтому, на мой взгляд, эти термины (небезопасный/безопасный) больше подходят в данном контексте.

[2015-06-20 21:39] kgv commented on #189
Я всегда "нативные библиотеки" употреблял...

[2015-06-20 22:12] mkpankov commented on #189
@kgv ну да, за неимением лучшего...

Я имею ввиду, может всё же "более нормативное" есть/можно придумать.

[2015-06-25 16:29] jiumx60rus commented on #190
@kgv Согласен
Многие его так и переводят
Пример https://msdn.microsoft.com/ru-ru/library/chfa2zb8.aspx

[2015-06-25 17:01] jiumx60rus commented on #189
Нативная в скобках родная
Или в книге по clojure писали "родная (native)"

[2015-06-27 17:03] mxseev opened #201 "Стек и куча"
Это число равно 2<sup>30</sup>
![screenshot from 2015-06-27 22-03-35](https://cloud.githubusercontent.com/assets/10381174/8393071/5d4437ec-1d18-11e5-8fd2-1255c321d6a6.png)

[2015-06-27 18:14] mkpankov commented on #201
@Ralvke спасибо за сообщение!

@funkill это же по идее rustbook должен обрабатывать, т.к. это встроенный html?

[2015-06-27 19:16] suhr commented on #201
В русском языке разряды отделяют пробелами: «1 073 741 824».

[2015-06-27 19:20] mkpankov commented on #201
@suhr да, но сообщение не об этом. Давай сосредоточимся на решении конкретной проблемы.

Создай, пожалуйста, отдельную задачу на исправление разделителей.

[2015-06-27 22:32] #190 closed, assigned to nobody

[2015-06-28 18:35] jiumx60rus opened #204 "Битые ссылки на kgv.github.io"
---
- [x] http://kgv.github.io/rust_book_ru/src/guessing-game.html

---
- [ ] http://kgv.github.io/rust_book_ru/src/academic-research.html

Думаю тут надо отправить в оригинал

---
- [x] http://kgv.github.io/rust_book_ru/src/traits.html

---
- [x] http://kgv.github.io/rust_book_ru/src/const-and-static.html

---
- [x] http://kgv.github.io/rust_book_ru/src/macros.html

---
- [x] http://kgv.github.io

[2015-06-28 19:53] mkpankov commented on #204
Спасибо, круто что скриптом это сделал :clap:  Будем работать :+1:

[2015-06-29 19:51] mkpankov commented on #204
Про

написал: https://github.com/rust-lang/rust/pull/26662 , https://github.com/rust-lang/rust/issues/26661

[2015-07-01 06:54] #204 closed, assigned to nobody

[2015-07-03 12:11] suhr opened #208 "Типографские кавычки в тексте"
Либо их rustbook должен произвоить из машинописных, либо надо заменить их скриптом вручную.

[2015-07-03 22:22] mkpankov opened #211 "Непереведённый текст в macros.md"
1. $(...)\* walks through one "layer" of repetitions, for all of the $names it contains, in lockstep, and
2. each $name must be under at least as many $(...)*s as it was matched against. If it is under more, it'll be duplicated, as appropriate.

[2015-07-04 08:00] #208 closed, assigned to nobody

[2015-07-04 09:31] #201 closed, assigned to nobody

[2015-07-07 09:25] #180 closed, assigned to nobody

[2015-07-08 04:01] heaviss commented on #176
Могу предложить вариант "Rustафарианцы"/"Rustафариане"  в значении "приверженцы идеологии Rust". На мой взгляд наркоманских ноток меньше, чем в "растаманы", и намного благозвучнее остальных трёх вариантов.
Или "Rustияне"/ "Rustиане"/ "Rustианцы" как созвучные россиянам, марсианам и американцам

Отмечу также, что согласен с вышесказанным - не стоит вставлять такой перевод где попало, достаточно оди

[2015-07-08 10:31] suhr commented on #176
Пусть лучше сообщество сформирует своё прозвище.

[2015-07-11 11:22] mkpankov commented on #176
Согласен, объявление убрал, закрываю

[2015-07-11 11:22] #176 closed, assigned to nobody

[2015-07-11 18:09] #96 closed, assigned to nobody

[2015-07-12 15:40] suhr opened #221 "Тире"
Надо заменить дефисоминусы на тире.

[2015-07-12 16:09] mkpankov commented on #221
Уже: https://github.com/kgv/rust_book_ru/commit/15eac0370269d44dde7374883be219133c59deaa

Закрываю, если где-то осталось, укажи места.

[2015-07-12 16:09] #221 closed, assigned to nobody

[2015-07-12 16:12] #211 closed, assigned to nobody

[2015-07-17 18:48] mkpankov opened #228 "Многие названия глав не помещаются в блок слева"

[2015-07-18 15:40] #228 closed, assigned to nobody

[2015-07-20 02:34] espdev commented on #126
Попробовал открыть Epub-файл на устройстве NOOK. Корректно отображается только первая страница, затем весь текст книги отображается в один столбец слева экрана (столбик текста шириной в одну букву сверху-вниз). При попытке перейти на какую-либо страницу через навигатор вылетает в библиотеку.

[2015-07-20 20:11] mkpankov commented on #126
@espdev Спасибо за отчёт!

Я переношу его в отдельную новую задачу, потому что эта задача не о том, и она закрыта.

[2015-07-20 20:13] mkpankov opened #232 "Проблемы с отображением EPUB"
@espdev (из #126 )

[2015-07-20 20:41] mkpankov commented on #232
Попробовал смотреть в Calibre (`ebook-view`), FBreader и YotaReader - нигде не воспроизвелось.

Может файл просто битый и его надо перекачать? [Скачайте](https://raw.githubusercontent.com/kgv/rust_book_ru/gh-pages/converted/rustbook.epub), пожалуйста, последнюю версию и попробуйте её.

Нужно больше информации. Появляются ли какие-то ошибки при открытии? Есть ли логи из читалки?

В качестве временн

[2015-07-20 20:46] mkpankov opened #233 "В EPUB участки с кодом дублируются"
![http://i.imgur.com/wDzY1wg.png](http://i.imgur.com/wDzY1wg.png)

В Calibre не дублируются, в FBReader дублируются.

[2015-07-20 20:49] mkpankov commented on #233
В MOBI всё ок.

[2015-07-21 08:32] espdev commented on #232
Попробовал перекачать файл - не помогло. Ошибок при открытии на экране читалки не появляется. Каких-то логов ошибок в самом устройстве я тоже не нашёл. Книжка понимает только PDF и ePub.

Вот информация об устройстве:

[code]

Вот как выглядит книга на экране:
![imgp9249](https://cloud.githubusercontent.com/assets/1299189/8796261/0e155494-2f9c-11e5-9021-1134f9db8919.jpg)

[2015-07-21 09:22] funkill commented on #232
Попробовал в EBookReader и MoonReader.
EBookDroid: код отображается примерно символа по 4.
MoonReader: код без отступов и форматирования, ругается на отсутствие шрифтов (возможно получится решить при помощи флага `--embed-all-fonts`).
И в том, и в другом случае переход по ссылкам работает нормально.

[2015-07-21 09:27] funkill commented on #233
Calibre заменяет стили на свои, из-за чего отображается код, предназначенный для отправки в playpen (первый, в одну строку, на сайте этот код скрыт). Так же, из-за замены стилей, в конце каждой главы есть оглавление (при генерации pdf, оно скрывается стилями).

[2015-07-21 19:47] mkpankov commented on #233
@funkill самое интересное, что в EPUB с gitbook всё ок.

А можно ему сказать стили не заменять?

[2015-07-21 19:49] mkpankov commented on #232
@espdev а попробуйте пожалуйста ещё [эту версию](https://www.gitbook.com/download/epub/book/kgv/rust_book_ru).

У неё свои недостатки, но она может быть по крайней мере читабельна.

[2015-07-21 19:50] mkpankov commented on #232
@espdev кстати, а PDF вы не пробовали? Не нравится?

[2015-07-21 19:55] mkpankov commented on #232
Я кстати ещё заметил, что наша версия из-под calibre даже на ПК не всю ширину занимает - колонка процентов 40 ширины экрана у меня.

Надо наверное в сторону CSS и задания ширины текста смотреть - возможно что-то с DPI и сопутствующим.

[2015-07-22 12:25] espdev commented on #232
@mkpankov Книга по последней вашей ссылке отображается на читалке корректно на всю ширину экрана! :+1: Листинги кода тоже отображаются правильно. Шрифт немного мелкий, заголовки глав отображаются в виде `% Заголовок` но, в общем, всё вполне читабельно, работают ссылки из оглавления в разделы книги.

PDF на читалке не пробовал, потому что у неё слишком маленький экран и обычно PDF-файлы читать не с

[2015-07-22 12:29] mkpankov commented on #232
@espdev прекрасно, будем чинить нашу версию, значит.

В той, которую вы скачали, в паре мест сломана разметка. Например, в разделах про документацию и тесты. Это ограничение gitbook.

[2015-07-22 12:33] espdev commented on #232
@mkpankov Спасибо! Будет здорово, если почините. :)

Посмотрел в раздел "Документация", да кое-где разметка сломалась, но зато я уже пока могу читать другие главы, находясь не за компьютером.

[2015-07-22 12:36] mkpankov commented on #232
@espdev вам спасибо за информацию :)

[2015-07-23 10:56] funkill commented on #233
Вчера/сегодня пробовал различные способы добавления/изменения стилей (добавление `--extra-css`, изменение стилей в уже сгенерированной книге, генерирование книги при помощи Sigil и создание epub вручную). Мои попытки не увенчались успехом: ни fbreader, ни ebookdroid не захотели скрывать первый участок кода.

Заметил, что EPUB с Gitbook в EBookDroid код отображает не правильно (в сгенерированном на

[2015-07-24 00:39] egorsmkv opened #235 "Опечатка в главе о while"
https://github.com/kgv/rust_book_ru/blob/fd4717d3c69da2cde64214f89217f47966c09400/src/while-loops.md

[code]

[2015-07-24 06:50] funkill commented on #235
Благодарим!

[2015-07-24 11:43] #235 closed, assigned to nobody

[2015-07-26 18:58] mkpankov commented on #232
@espdev подхачил CSS, [попробуйте](https://www.dropbox.com/s/upt0uzajqz5bblb/rustbook.epub?dl=0)

[2015-07-27 06:55] espdev commented on #232
@mkpankov Та же проблема - отображается в один столбик букв слева.

[2015-07-27 09:10] mkpankov commented on #232
@espdev Понятно. Собираюсь поставить эмулятор Nook'а и с ним экспериментировать.

[2015-07-27 12:25] #68 closed, assigned to nobody

[2015-07-31 10:27] mkpankov commented on #233
Вот [тут](https://github.com/killercup/trpl-ebook) для оригинала делают ebook в разных форматах. Проблем, с которыми мы тут сталкиваемся, при беглом просмотре, я там не увидел - вроде всё хорошо.

Там используется pandoc & LaTeX вместо calibre, но это возможный вариант.

[2015-08-01 13:41] mkpankov commented on #232
Я думаю есть шанс, что с этим надо будет долго возиться. Пока не буду этим заниматься, доделаю редактирование.

[2015-08-01 13:51] espdev commented on #232
@mkpankov вообще это не критично, ведь есть планшет, на котором хорошо читается PDF. :)

[2015-08-09 15:23] mkpankov opened #246 "Обновить unsafe.md"

[2015-08-09 15:38] mkpankov opened #248 "Обновить advanced-linking.md"

[2015-08-09 15:41] mkpankov opened #249 "Обновить slice-patterns.md"

[2015-08-09 15:43] mkpankov opened #250 "Обновить glossary.md"

[2015-08-09 15:44] mkpankov opened #251 "Обновить academic-research.md"

[2015-08-09 17:58] mkpankov opened #253 "Обновить patterns.md"

[2015-08-09 17:59] mkpankov opened #254 "Обновить rust-inside-other-languages.md"

[2015-08-09 18:01] mkpankov opened #255 "Перевести choosing-your-guarantees.md"

[2015-08-09 18:02] mkpankov opened #256 "Слить for-loops.md while-loops.md в loops.md"

[2015-08-09 18:29] mkpankov commented on #38
Аудит закончен, сделал отдельные задачи на то что надо сделать, эту закрываю

[2015-08-09 18:29] #38 closed, assigned to nobody

[2015-08-09 18:58] mkpankov commented on #233
Нужно попробовать использовать pandoc как делают по ссылке выше

[2015-08-09 21:23] #256 closed, assigned to nobody

[2015-08-10 11:04] suhr opened #258 "Перевод «newtype»"
Сабж.

[2015-08-15 14:16] mkpankov opened #259 "Просмотреть все файлы на актуальность"
Сохранить информацию о соответствии ревизиям upstream в какие-то отдельные файлы, чтобы потом можно было автоматически обнаруживать устаревание перевода.

[2015-08-22 09:18] suhr opened #264 "Перевод «feature gate»"

[2015-08-23 17:03] #259 closed, assigned to nobody

[2015-08-23 17:05] mkpankov commented on #79
Пока сохранил тупо хэши, в конечном счёте я думаю надо включить rust-lang/rust в наш репозиторий подмодулем и все связи будут зафиксированы.

[2015-08-24 09:10] #248 closed, assigned to nobody

[2015-08-24 09:10] #251 closed, assigned to nobody

[2015-08-24 09:10] #250 closed, assigned to nobody

[2015-08-24 09:12] mkpankov commented on #249
Fixed by #263

[2015-08-24 09:12] #249 closed, assigned to nobody

[2015-08-26 09:24] #246 closed, assigned to nobody

[2015-09-05 15:39] #253 closed, assigned to nobody

[2015-09-05 15:43] #254 closed, assigned to nobody

[2015-09-06 19:44] mkpankov opened #271 "Поставить тег на выпуск"
Надо сделать после #255

[2015-09-09 20:07] #255 closed, assigned to nobody

[2015-09-09 20:14] #271 closed, assigned to mkpankov

[2015-09-10 18:44] mkpankov opened #272 "Обновить error handling"

[2015-09-10 18:45] mkpankov commented on #272
https://github.com/rust-lang/rust/pull/28301

[2015-09-14 12:37] petrochenkov commented on #258
В том контексте, в котором он в книжке употребляется - обёртка.
Поскольку это жаргон из Хаскеля, то вот для сравения перевод "Learn you a Haskell"
https://books.google.ru/books?id=Ae1YAwAAQBAJ&pg=PA46&source=gbs_toc_r&cad=4#v=onepage&q=newtype&f=false
newtype в основном не переведён, но и обёрткой часто называется.

[2015-09-14 12:43] Slko opened #273 "Перевод "Hello, world!""
Начал читать с самого начала. Привлекло внимание то, что в разделах "Hello, world!" и "Hello, Cargo!" в половине мест переведено как "Привет, мир!", а в другой половине оставлено "Hello, world!" (в том числе само название раздела).

[2015-09-15 06:59] RahimovIR opened #274 "Ссылка во второй главе."
Ссылка на странице http://kgv.github.io/rust_book_ru/src/README.html внизу справа ведет на эту же страницу.

[2015-09-21 12:20] mkpankov commented on #273
Спасибо.

В целом, наверное надо пройтись по использованиям и поредактировать соответственно. Но это не совсем однозначно - "Hello, world!" это устойчивое выражение, для которого есть более-менее устоявшийся русскоязычный перевод. "Hello, Cargo!" - нет. И есть некоторые места, где русский текст всё же недопустим.

[2015-09-21 12:20] mkpankov commented on #274
Спасибо!

[2015-09-27 18:07] Safort opened #279 "Опечатки в главах "Итераторы" и "Ссылки и заимствование""
Итераторы: "поэтому он **будет сгенерирует** последовательность".
Ссылки и заимствование: "Rust проверяет области **видимоси** ваших ссылок".

[2015-09-27 20:28] mkpankov commented on #279
Спасибо!

[2015-09-27 20:28] #273 closed, assigned to nobody

[2015-09-27 20:28] #274 closed, assigned to nobody

[2015-09-29 16:06] dmitry4244 opened #280 "Опечатка на с.4 (глава "Язык программирования Rust", она же "Введение")"
Эффективное использование Rust — Понятия более высокого уровня для написания
<b> качественного код</b> на Rust.

[2015-09-29 17:34] dmitry4244 opened #281 "Опечатка на с.14 (глава "Hello, Cargo!")"
Специальное расположение файла для точки входа может быть задано с помощью ключа
<b>[[lib]]</b> или [[bin]] в файле TOML, который описывается ниже.

<s>[[lib]]</s> , вместо этого: [lib]

[2015-09-29 20:12] mkpankov commented on #281
Спасибо!

[2015-10-01 11:38] RahimovIR opened #282 "5.1. Стек и куча"
Опечатка в [5.1. Стек и куча](http://kgv.github.io/rust_book_ru/src/the-stack-and-the-heap.html): стётчиками

[2015-10-01 13:24] mkpankov commented on #282
Спасибо!

[2015-10-04 17:38] dmitry4244 opened #283 "Пропуск подразделов, опечатки - c.171, 172 в pdf ("Время жизни")"
...
Если вы сравните &mut i32 с &' a mut i32 , то увидите, что они отличаются только
определением времени жизни ' a , написанным между & и mut i32 . &mut i32 читается
как «изменяемая ссылка на i32», а &' a mut i32 — как «изменяемая ссылка на i32 со
временем жизни 'a».

<b>In structs</b> - подзаголовок отсутствует
Вы также должны будете явно указать время жизни при работе с<b>о</b> <b><s>[ struct ]

[2015-10-05 08:32] mkpankov commented on #283
Спасибо!

[2015-10-12 13:15] #279 closed, assigned to nobody

[2015-10-12 13:15] #280 closed, assigned to nobody

[2015-10-12 13:15] #281 closed, assigned to nobody

[2015-10-12 13:15] #282 closed, assigned to nobody

[2015-10-12 13:15] #283 closed, assigned to nobody

[2015-10-18 19:53] mkpankov opened #288 "Перевести главу Custom Allocators"
http://doc.rust-lang.org/nightly/book/custom-allocators.html

[2015-10-21 21:43] van-kalsing opened #289 "Опечатка на с. 22 (Угадайка - Обработка предположения)"
... которая позволяет нам иметь несколько ссылок на одни и ТАК ЖЕ данные ...

[2015-10-22 17:57] van-kalsing opened #290 "Опечатка на с. 48 в PDF (Обедающие философы)"
... пока не станет вилке доступной.

[2015-10-22 18:03] van-kalsing opened #291 "Некорректный вывод программы на с. 46 в PDF"
Рая Дунаевская начала есть.
Рая Дунаевская закончила есть.
Эмма Гольдман начала есть.
Эмма Гольдман закончила есть.
Анна Шмидт начала есть.
Джудит Батлер начала есть.
Джудит Батлер закончила есть.
Зарубина Наталья начала есть.
Зарубина Наталья закончила есть.
Анна Шмидт закончила есть.

С таймаутом 1000 мс такого быть не должно. В оригинале правильно - сначала все начинают есть, потом все заканчив

[2015-10-22 18:29] van-kalsing opened #292 "Опечатка на с. 51 в PDF (Вызов кода на Rust из других языков)"
знание нескольких языков позволяет позволяет использовать

[2015-10-22 19:45] mkpankov commented on #290
Спасибо!

[2015-10-23 06:50] van-kalsing commented on #291
Ооой, со слипом, а не таймаутом) Не о том видимо думал, когда писал

[2015-10-25 19:46] van-kalsing opened #293 "Опечатки на с. 60 - 76 в pdf"
1. с.60: ... адреса будут от 0 до 1 073 741 824 ...
   Должно быть 1 073 741 823, в оригинале так. Однако далее и в переводе и в оригинале используется адрес 2^30, получается неточность. Это, конечно, не мешает пониманию темы, но если кто-то захочет, то может указать на это авторам.
2. с.68 - строка в таблице: "11 f 4". Должно быть "11 f 9"
3. с.76: ... с ожидаемыми результатом

[2015-10-27 16:27] mkpankov opened #294 "Перевести новую документацию по итераторам"
https://github.com/rust-lang/rust/pull/29311

[2015-10-27 22:10] mkpankov opened #295 "Битая ссылка в главе "Макросы""

[2015-10-27 23:07] mkpankov opened #296 "Непереведённая фраза в "Макросах""

[2015-10-28 18:44] van-kalsing opened #297 "Опечатки"
1. Глава 6.4 "Комментарии": "/// # Примеры". Не должно ли быть "/// # Examples"?
2. Глава 6.7 "Владение":  "с которым оно связано, будут освобождён"
3. Глава 6.7 "Владение":  "оптимизация может удалить саму копию байтов на стеке байтов"
4. Глава 6.8 "Ссылки и заимствование": "что это похоже, хотя и соответствует точно". Наверное, должно быть "хотя и не соответствует точно"
5. Глава 6.19 "Типажи":

[2015-10-29 18:08] mkpankov opened #298 "Перевести Rustonomicon"
http://doc.rust-lang.org/nightly/nomicon/

[2015-10-29 20:59] suhr commented on #298
Для этого стоит выделить отдельный репозиторий (и заодно создать организацию для переводов).

[2015-10-29 22:26] mkpankov commented on #298
@suhr [не вопрос](https://github.com/ruRust/rustonomicon)

[2015-10-30 02:28] defuz commented on #272
Этим кто-нибудь занимается? Я могу взяться за перевод.

[2015-10-30 17:43] mkpankov commented on #272
@defuz пожалуйста. Будем рады изменениям от вас.

[2015-10-31 16:26] #289 closed, assigned to nobody

[2015-10-31 16:27] #290 closed, assigned to nobody

[2015-10-31 16:27] #291 closed, assigned to nobody

[2015-10-31 16:27] #292 closed, assigned to nobody

[2015-10-31 16:27] #297 closed, assigned to nobody

[2015-11-01 15:17] #295 closed, assigned to nobody

[2015-11-01 15:17] #296 closed, assigned to nobody

[2015-11-01 17:20] vessd commented on #293
на счет первого пункта, в stable версии оригинала все еще присутствуют ошибки с адресами, но в nightly они уже отсутствуют
https://github.com/rust-lang/rust/commit/6d2cb6c688ce0a8aa309236dd04b45149f8eee3c
стоит ли исправлять сейчас или подождать?

[2015-11-01 17:42] mkpankov commented on #293
@D101101 я думаю, можно исправлять. Мы строго не синхронизируемся со stable.

[2015-11-02 14:01] #293 closed, assigned to nobody

[2015-11-08 20:26] mkpankov commented on #272
Почти закончили, остался раздел Case Study:

https://doc.rust-lang.org/stable/book/error-handling.html#case-study:-a-program-to-read-population-data

[2015-11-08 20:31] #288 closed, assigned to nobody

[2015-11-14 00:11] emersceen opened #310 "Неочевидности в описании &str в главе про строки (6.17)"
После прочтения главы про строки, сложилось ложное впечатление, что понятия "строковый срез и" "строковый литерал" эквивалентны. Появилась уверенность, что строковые слайсы могут быть только со временем жизни 'static. В дальнейшем возникли проблемы с указанием правильных lifetime'ов.

Вот ссылка на обсуждение в чате:
https://gitter.im/ruRust/general?at=564660d98b242470793d9051

Возможно есть спосо

[2015-11-14 00:18] defuz commented on #310
Соответствующий баг в оригинальом репозитории: https://github.com/rust-lang/rust/issues/29823

[2015-11-20 22:42] gmax79 commented on #232
У меня sony prs-t1 Хочу заметить, что версия книги epub с сайта тоже отображается в одну колонку.Версия из этого топика отображается на всю ширину. Но в обоих книгах вместо букв - знаки вопросов. Видимо нет шрифтов. Включите шрифты в книгу и желательно их поменять на более распространенные.

[2015-11-24 08:36] nick-korsakov commented on #298
Начат ли уже перевод Rustonomicon?
Если да, дайте ссылку на него.

[2015-11-24 14:13] suhr commented on #298
@nick-korsakov Нет, но можешь создать PR в https://github.com/ruRust/rustonomicon.

[2015-12-04 09:15] #310 closed, assigned to nobody

[2015-12-05 15:20] neooleg opened #312 "Некорректный перевод в Угадайка - Обработка предположения"
### Problem

Судя по всему, использован дословный перевод из-за чего суть предложения неясна:
_"Если мы выйдем за пределы этих двух методов, наша программа скомпилируется, но мы получим следующее предупреждение"_

В оригинале:
_If we leave off calling these two methods, our program will compile, but we’ll get a warning:_

Т.е. имеется ввиду "Eсли мы уберем вызовы этих двух методов".

[2015-12-05 16:07] #312 closed, assigned to nobody

[2015-12-05 17:09] defuz opened #315 "Добавить оригинальные названия терминов при первом упоминании в каждой главе"
Добавить к первому упоминанию в каждой главе неоднозначных терминов их расшифровку в круглых скобках на английском языке:
- [ ] borrow
- [ ] ownership
- [ ] moved
- [ ] lifetime
- [ ] pattern matching
- [ ] closure
- [ ] moved closure
- [ ] heap
- [ ] slice
- [ ] tuple
- [ ] enum
- [ ] trait object
- [ ] pattern
- [ ] destructuring
- [ ] exhausive
- [ ] namespace
- [ ] new type
- [ ] arm
- [ ] con

[2015-12-07 07:11] neooleg commented on #315
- [x] stack frame (стековый кадр)
  - [Mention #1](https://kgv.gitbooks.io/rust_book_ru/content/src/the-stack-and-the-heap.html)
- [x] raw pointer (сырой указатель)
  - [Mention #1](https://kgv.gitbooks.io/rust_book_ru/content/src/the-stack-and-the-heap.html)

[2015-12-08 22:21] neooleg opened #318 ""The ignore attribute" absent in translation"
### Problem

There is no translation for [The ignore attribute](https://doc.rust-lang.org/stable/book/testing.html#the-ignore-attribute)

[2015-12-12 20:24] vessd opened #319 "Обновить перевод главы "Перечисления""

[2015-12-16 13:13] defuz opened #322 "Перевести Syntax Index"
http://doc.rust-lang.org/stable/book/syntax-index.html

[2015-12-16 13:24] defuz opened #323 "Обновить Getting Started"
Этот раздел был обновлен и реорганизован.

http://doc.rust-lang.org/nightly/book/getting-started.html

Обратить внимание на старые файлы `hello-world.md`, `hello-cargo.md`, `installing-rust.md`, они были перенесены в `getting-started.md`

[2015-12-16 13:34] defuz opened #324 "Перевести Link Args"
https://doc.rust-lang.org/book/link-args.html

[2015-12-16 13:36] defuz opened #325 "Обновить Bibliography"
http://doc.rust-lang.org/nightly/book/bibliography.html

Старое название: `academic-research.md`

[2015-12-16 14:24] mkpankov commented on #79
[Тема для обсуждения интеграции переводов в официальную книгу](https://internals.rust-lang.org/t/better-support-translations-for-the-book/3003)

[2015-12-22 16:44] defuz opened #328 "Перевести новый раздел Primitive types"
http://doc.rust-lang.org/nightly/book/primitive-types.html

[2015-12-22 16:44] defuz opened #329 "Перевести новый раздел Comments"
http://doc.rust-lang.org/nightly/book/comments.html

[2015-12-22 16:45] defuz opened #330 "Перевести новый раздел Functions"
http://doc.rust-lang.org/nightly/book/functions.html

[2015-12-28 09:40] funkill opened #331 "Прикрутить mdbook"
Заменить rustbook на [mdbook](https://github.com/azerupi/mdBook)

[2015-12-28 09:44] mkpankov commented on #331
Собственно цитата @funkill из нашей переписки:

[2015-12-28 09:46] mkpankov commented on #331
Уточнение: использовать gitbook всё же не получится, т.к. он всё ещё не понимает встроенный markdown в документации и примерах.

[2015-12-28 19:14] defuz commented on #331
Насколько я помню, на mdBook рано или поздно должна будет перейти "официальная" книга.

[2016-01-07 18:54] titov-andrei opened #334 "Боят[ь]ся"
Они что делают? Нужно без "Ь"?
"поддерживают    Rust,   и  не    бояться,     чт"
Стр 9 последний абзац

Или пользователи должны не бояться?

[2016-01-08 09:08] vessd opened #335 "Обновить перевод раздела Structs"
Как минимум добавлен новый подраздел [Unit-like structs](https://doc.rust-lang.org/stable/book/structs.html#unit-like-structs)

[2016-01-11 21:32] #318 closed, assigned to nobody

[2016-01-12 12:58] #319 closed, assigned to nobody

[2016-01-12 20:51] HaruAtari opened #342 "Неправильное отображение сигнатуры функции в главе "Обработка ошибок"."
В [этом разделе](https://github.com/kgv/rust_book_ru/blob/master/src/error-handling.md#the-limits-of-combinators)  в первом примере кода есть такой участок в сигнатуре функции

![rust_book_ru_error-handling md at master c2 b7 kgv_rust_book_ru - google chrome 2016-01-12 23 47 38](https://cloud.githubusercontent.com/assets/3523420/12276471/fc4e8ca6-b986-11e5-900d-a6726f591cb4.png)

А в [скомпилирова

[2016-01-12 21:03] mkpankov commented on #342
Попробуйте версию rustbook: http://kgv.github.io/rust_book_ru/src/error-handling.html#the-limits-of-combinators

К сожалению, у gitbook много проблем с разметкой в том виде, как она используется в книге.

[2016-01-13 06:58] vessd commented on #342
@mkpankov зачем у нас вообще ссылка на gitbook?

[2016-01-13 07:01] vessd commented on #294
давно нужно закрыть, как не относящуюся к книге задачу

[2016-01-13 21:17] #294 closed, assigned to nobody

[2016-01-13 21:18] mkpankov commented on #342
@D101101 он иногда генерирует файлы, которые лучше работают на читалках. Например, [здесь](https://github.com/kgv/rust_book_ru/issues/232#issuecomment-123459670)

[2016-01-13 21:22] #335 closed, assigned to nobody

[2016-01-14 06:53] #325 closed, assigned to nobody

[2016-01-14 07:10] #323 closed, assigned to nobody

[2016-01-14 10:29] mkpankov commented on #334
Исправлено

[2016-01-14 10:29] #334 closed, assigned to nobody

[2016-01-16 12:44] #342 closed, assigned to nobody

[2016-01-21 10:10] vessd commented on #272
https://github.com/rust-lang/rust/pull/30053

[2016-01-23 16:54] #79 closed, assigned to nobody

[2016-01-23 16:56] #189 closed, assigned to nobody

[2016-01-23 16:57] #232 closed, assigned to nobody

[2016-01-23 16:59] #233 closed, assigned to nobody

[2016-01-23 16:59] #258 closed, assigned to nobody

[2016-01-23 17:00] #264 closed, assigned to nobody

[2016-01-23 17:01] #272 closed, assigned to nobody

[2016-01-23 17:01] #298 closed, assigned to nobody

[2016-01-23 17:02] #315 closed, assigned to nobody

[2016-01-23 17:04] #322 closed, assigned to nobody

[2016-01-23 17:05] #324 closed, assigned to nobody

[2016-01-23 17:05] #328 closed, assigned to nobody

[2016-01-23 17:06] #329 closed, assigned to nobody

[2016-01-23 17:07] #330 closed, assigned to nobody

[2016-01-23 17:08] #331 closed, assigned to funkill

[2016-01-23 17:27] gmax79 opened #344 "PDF a5"
Было бы замечательно если  сделаете книгу в формате pdf a5. Хорошо их читать на электронных книгах. Сейчас издательства выпускают свои книги чаще всего в данном формате. С этим форматом меньше всего проблем возникает. a4 просто не помещаются на экран ридера.

[2016-01-23 20:58] mkpankov commented on #344
Данный репозиторий более не [поддерживается](https://github.com/kgv/rust_book_ru/blob/master/README.md).

Я создал [задачу](https://github.com/ruRust/rust_book_ru/issues/20) в новом, закрываю эту.

[2016-01-23 20:58] #344 closed, assigned to nobody

[2016-01-25 08:32] rafuck opened #345 "Опечатки"
Неплохо было бы сделать в web-версии книги быстрый отчет о найденной опечатке (например, об орфографической или грамматической ошибке). Вести список неудобно и потому не хочется. А так выделил текст, нажал "ctrl+enter" и все довольны.

[2016-01-25 21:14] mkpankov commented on #345
Согласно [сообщению](https://github.com/kgv/rust_book_ru/blob/master/CONTRIBUTING.md) о переезде, задачи больше не принимаются здесь.

[2016-01-25 21:14] #345 closed, assigned to nobody

[2016-07-22 18:28] ghost opened #348 "В html версии не работает меню 三 для "узкого экрана""
![image](https://pp.vk.me/c626216/v626216332/17254/IDodVl3MFBU.jpg)

FF 44.0, Ubuntu

[2016-07-23 16:44] mkpankov commented on #348
Эта версия книги не поддерживается. Актуальная [здесь](http://rurust.github.io/rust_book_ru/). Меню там работает.

[2016-07-23 16:44] #348 closed, assigned to nobody

[2016-07-23 18:23] ghost commented on #348
Но я об этой книге и писал. Если перейти с линка что Вы дали [сюда](http://rurust.github.io/rust_book_ru/src/primitive-types.html), то меню не работает у меня.

[2016-07-23 21:11] mkpankov commented on #348
Спасибо, про это уже есть [issue](https://github.com/ruRust/rust_book_ru/issues/28)

[2017-02-26 12:47] mkpankov opened #349 "Активность"
Заметил активность в репозитории - давайте спишемся в https://gitter.im/ruRust/general . Много воды утекло

[2017-02-26 14:35] kgv commented on #349
@mkpankov написал вам в gitter, дальнейший диалог предлагаю вести там.

[2017-02-26 15:09] #349 closed, assigned to nobody